extends layout

block content
	h1= title
	form(action="/rhyme", method="post")
		.form-group
			textarea#originalText.form-control.col-md-6.col-md-offset-4(name="originalText" style="width: 33%;resize: none;overflow-y: auto" rows="20")
			button.btn-lg.btn-success.col-md-6.col-md-offset-4(style="width: 33%;" type="submit") Rhyme