extends layout

block css
    link(href='/css/result.css', rel='stylesheet')

block content
    h1= title
    button.btn-lg.btn-danger.restart(onclick="location.href='/';") Restart
    .col-md-6
        h3: b Original Poem
        p!= original
    .col-md-6
        h3: b Modified Poem
        p!= result